@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  logs: true;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}

@layer base {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button,
  textarea,
  select {
    @apply border border-b-black rounded-md p-2 focus:outline-blue-500;
  }
}
