@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  logs: true;
}

@layer base {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button,
  textarea,
  select {
    @apply border border-b-black rounded-md p-2 focus:outline-blue-500;
  }
}
